*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: crimson;
}

.container{
    background-color: #ffffff;
    
    width: 80vh;
    height: auto;
    margin: 30px auto auto auto;
    border-radius: 10px;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.5);
}
.search-wrapper{
    /* position: absolute; */
    padding: 40px;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25rem;
}

.search-wrapper button{
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8rem 0;
    border: none;
    border-radius: 1.5rem;
}

.search-wrapper input{
    font-size: 1rem;
    padding:  0 0.62em;
    border: none;
    border-bottom:  2px solid #3d64e6;
    outline: none;
    color: #222a43;
}

#result{
  margin-top: 1.25em;
  margin-left: 6em;
}

.container .flag-img{
    display: block;
    width: 85%;
    min-width: 7.5rem;
    margin:1.8em auto 1.2em auto;
}

.container h2{
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 32px;
}

.data-wrapper{

   margin-bottom: 1rem;
   letter-spacing: 0.5px;
}

.container h4{
    display: inline;
    font-weight: 500;
    color: #222a43;
}

.container span{
    color: #5d6274;
}

.container h3{
   text-align: center;
   font-size:1.2em;
   font-weight: 400;
   color: #ff465a;
}